<!DOCTYPE html>
<html lang="en">
<head>

 body{ backround-color:Pink }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cascading Style Sheet</title>

 

</head>
<body>
    
</body>
</html>