h1 {
    color: darkblue;
    text-align: center;
}
body {
    background-color: <div id="DB7093"></div>;
    font-family: <div id="Times New Roman, sans-serif"></div>;
}
p {
    font-sizw: 18px;
    color: #333">;
}
